extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Omar Faruque

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | From childhood, I was always passionate about computers and stuffs that are related to Programming. I always wondered how people make games, programs and websites.
            | I always felt passionate about building Website and Web Apps. The inner joy and self satisfaction helped me choose the right track. I am a now a self taught, creative and accomplished Full Stack JavaScript Developer, working hard to improve my skills. Using cutting-edge technologies in my projects is one of my main goals.
            | Currently, I am a Techdegree student at Team Treehouse learning Full Stack JavaScript which helped me a lot in my journey.
            | 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Bootstrap
          li Materialize
          li jQuery
          li AJAX
          li Object Oriented Programming
          li React 
          li NodeJS
          li Express
          li MongoDB
        h6 Contact Info

        ul
          li omar@webdevwithomar.com
          li 
            a(href="http://webdevwithomar.com", target="_blank") webdevwithomar.com

        a.button.expanded(href='https://www.linkedin.com/in/webdevwithomar/', target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/webdevwithomar', target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/webdevwithomar', target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  