extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 Web Dev with Omar

      p.lead.text-light
        | I Develop Web Apps
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each val, index in projects
        .cell
          a(href=`/project/${index}`)
            img.thumbnail(src=`/images/${projects[index].image_urls[0]}`)
            h5=projects[index].project_name